1.An example of a variable containing different types of data:

In [8]:
my_var = [1,3,46, "Hello, world!", 3.14, True,'pwskill',(92,3,4,5,6)]

In [5]:
my_var[0]

1

In [9]:
my_var[7]

(92, 3, 4, 5, 6)

Q.2 The data types of the given variables are as follows:

In [10]:
Var1=''

In [12]:
type(Var1)

str

In [15]:
var2 = [' DS' , 'ML ', 'Python']

In [16]:
type(var2)

list

In [17]:
var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

SyntaxError: invalid character '‘' (U+2018) (899486036.py, line 1)

In [18]:
var4 = 1.

In [19]:
type(var4)

float

3. example of following operators: /,%,//,**

In [20]:
x = 10
y = 3
result = x / y
print(result)

3.3333333333333335

In [21]:
x = 10
y = 3
result = x % y
print(result)

1

In [22]:
x = 10
y = 3
result = x // y
print(result)

3

In [25]:
x=5
y=3
result = x**y
print(result)

125

4. example of a list of length 10 with different types of data, followed by a for loop to print each element and its data typey in python.

In [26]:
my_list = [98, "Hello", 3.14, True, [1, 2, 3], {"name": "John", "age": 25}, (4, 5, 6), None, False, {'apple', 'banana', 'cherry'}]

In [27]:
for element in my_list:
    print(element, type(element))

98 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
{'name': 'John', 'age': 25} <class 'dict'>
(4, 5, 6) <class 'tuple'>
None <class 'NoneType'>
False <class 'bool'>
{'cherry', 'banana', 'apple'} <class 'set'>

5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [35]:
A = 20
B = 2
count = 0

while A % B == 0:
    A = A // B
    count += 1
print(f"A is divisible by B {count} times.")

A is divisible by B 2 times.

6.An example of creating a list of 25 integer values and using a for loop with an if-else condition to check if each element is divisible by 3 or not.

In [36]:
my_list = [12, 7, 36, 15, 24, 10, 9, 42, 18, 5, 21, 8, 30, 17, 27, 6, 11, 33, 22, 14, 25, 39, 4, 20, 16]

for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

12 is divisible by 3.
7 is not divisible by 3.
36 is divisible by 3.
15 is divisible by 3.
24 is divisible by 3.
10 is not divisible by 3.
9 is divisible by 3.
42 is divisible by 3.
18 is divisible by 3.
5 is not divisible by 3.
21 is divisible by 3.
8 is not divisible by 3.
30 is divisible by 3.
17 is not divisible by 3.
27 is divisible by 3.
6 is divisible by 3.
11 is not divisible by 3.
33 is divisible by 3.
22 is not divisible by 3.
14 is not divisible by 3.
25 is not divisible by 3.
39 is divisible by 3.
4 is not divisible by 3.
20 is not divisible by 3.
16 is not divisible by 3.

7. i.Immutable data types are those whose values cannot be modified after they are created. Any operation that appears to modify an immutable object actually creates a new object with the updated value.
Examples of immutable data types:

In [40]:
x = 5
y = 1
print(x+y)

6

in integer Once an integer is assigned to a variable, its value cannot be changed. If we try to modify it, a new object is created.

In [44]:
str = "John"
str1 = " Doe"
print( str,str1)

John  Doe

Strings in Python are immutable. If you want to change the value of a string, you need to create a new string object.

ii. Mutable data types are those whose values can be modified after they are created. The modifications can be made in-place without creating a new object.Examples of mutable data types in Python are:

In [45]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [46]:
my_list[0] = 5
print(my_list)

[5, 2, 3, 4]

Lists can be modified by adding, removing, or changing elements without creating a new list.

In [48]:
my_dict = {"name": "veena", "age": 25}
my_dict["age"] = 26
print(my_dict)

{'name': 'veena', 'age': 26}

In [ ]:
my_dict["city"] = "Delhi"
print(my_dict)